.dirlist tr {
    border: 2px solid #eee;
    width: 100%;
}

.dirlist thead td {
    padding: 5px 10px;
}

.dirlist-file td {
    padding: 5px 10px;
    width: 100%;
    white-space: nowrap;
}

.dirlist-file:nth-child(odd) {
    background-color: #eee;
}

.marginless {
    margin: 0;
}

.flash {
    padding: 0px 15px 15px 15px;
    width: 100%;
}

.flash:nth-child(1) {
    padding-top: 15px;
}