{% extends "layout.html" %}
{% block title %}{{ dir }} | {{ config.name }}{% endblock %}
{% block body %}
    <h2>Showing files in directory: {{ dir }}</h2>
    <table class="dirlist">
        <thead>
            <td>File</td>
            <td>Size</td>
            <td>Date</td>
        </thead>
        {% for info in files %}
            <tr class="dirlist-file">
                <td><a href="{{ info.link }}">{{ info.name }}</a></td>
                <td>{{ info.size }}</td>
                <td>{{ info.date }}</td>
            </tr>
        {% else %}
            <tr class="dirlist-file">
                <td>(none)</td>
                <td>-</td>
                <td>-</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}