{% extends "layout.html" %}
{% block title %}{{ config.name }}{% endblock %}
{% block body %}
    <h2>Welcome to {{ config.name }}!</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Repositories</h3>
                </div>
                <div class="panel-body">
                    <table class="repolist">
                        {% for repo in repos %}
                        <tr class="repolist-repo">
                            <td><a href="{{ url_for('.get_file', repo=repo) }}"><h3 class="marginless">{{ repo }}</h3></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Actions</h3>
                </div>
                <div class="panel-body">
                    <tr class="repolist-repo">
                        {% if not session.username %}
                            <td><a href="{{ url_for('.get_index') }}login/"><h3 class="marginless">Log in</h3></a></td>
                        {% else %}
                            <td><a href="{{ url_for('.get_index') }}upload/"><h3 class="marginless">Upload Artifact</h3></a></td>
                        {% endif %}
                    </tr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
