<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ config.name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}">
    </head>
    <body>
        {% include "nav.html" %}
        <div class="container">
            <div class="flashes">
                {% for flash in get_flashed_messages() %}
                    <div class="bg-warning flash">
                        {{ flash }}
                    </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
